:host {
  display: grid;
}

.mat-mdc-row:hover {
  background-color: #003300;
}

.results-table-container {
  width: 100%;
  max-height: 85vh;
  overflow: auto;
  display: block;
}

.results-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.results-table th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.results-table tbody {
  display: block;
  max-height: calc(89vh - 50px);
  overflow-y: auto;
}

.results-table .mat-column-index {
  width: 75px;
  max-width: 75px;
  min-width: 75px;
}

.mat-paginator {
  margin-top: 10px;
}
